# Dependencies
node_modules/

# Build
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# Prisma

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
docker-data/

# TypeScript
*.tsbuildinfo
