@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #0f0f12;
  --foreground: #f4f4f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  overflow-x: hidden;
}
